.footer{
  position: absolute;
  left:0;
  bottom:0;
  width:100%;
  height:$bot-h;
}
.footer-nav{
  height:$bot-h;
  padding:0;
  margin:0;
  overflow: hidden;
  a{
    display: block;
    text-decoration: none;
    text-align: center;
    color:$black-font;
    .iconfont{
      display: block;
      margin:0 auto;
      font-size:2rem;
    }
  }
}