//reset bootstrap
body, button, input, select, textarea{
  font:12px/1.5 "Helvetica","Hiragino Sans GB","Microsoft Yahei",sans-serif;
}

body{
  padding-top:68px;
}

img{
  border:none;
  max-width:100%;
}