$base-green:#48cfad;
$base-blue:#227BD6;
$base-orange:#ef8700;
$base-gray:#ccc;
$base-red:#da251c;
$dark-red:#CC0001;
$dark-blue:#2e76a8;
$dark-orange:#f75100;
$light-orange:#ff7402;
$base-purple:#9a77e6;

$light-blue:#1ca2e4;
$bar-color:#2d3743;

$base-bg:#f2f2f2;


$base-gray-font:#999;
$base-font-color:#666;
$base-border-color:#ddd;

$outWidth:1170px;