<div class="footer bar-bg">
    <div class="footer-content">
        <ul class="flex footer-nav">
            <li class="flex-item"><a href="#"><i class="iconfont icon-home"></i>首页</a></li>
            <li class="flex-item"><a href="#"><i class="iconfont icon-map"></i>讲座</a></li>
            <li class="flex-item"><a href="#"><i class="iconfont icon-channel"></i>频道</a></li>
            <li class="flex-item"><a href="#"><i class="iconfont icon-user"></i>我</a></li>
        </ul>
    </div>
</div>
<script src="@@include('./path.html')js/config.js"></script>